<!DOCTYPE html>  
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/assets/Asset 1.svg">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/style.css">
        <link href={{font}} rel="stylesheet">
    </head>
    <body>
        {{>header}}
        <div class="paragraph">
            <p class="help">
                Cosmos: A Personal Voyage is a thirteen-part television series written by Carl Sagan, Ann Druyan, and Steven Soter, with Sagan as presenter. It was executive-produced by Adrian Malone, produced by David Kennard, Geoffrey Haines-Stiles, and Gregory Andorfer, and directed by the producers, David Oyster, Richard Wells, Tom Weidlinger, and others. It covers a wide range of scientific subjects, including the origin of life and a perspective of our place in the universe.
            </p>
        </div>
        {{>footer}}
        <script src="/javascript/app.js"></script>
    </body>
</html>